/* This File is for About SGIT */
.bg-dark {
	background-color:  rgba(61, 67, 81, 1);
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 40px;
}
.trustee-heading {
	padding: 50px 15px;
	text-transform: uppercase;
}
.img-box {
	text-align: center;
}
.img-box img {
	width: 200px;
	padding:10px;
	display: inline-block;
}
.trustee-box .trustee-title p {
	margin-top: 0px;
	text-align: center;
}
.trustee-box .trustee-title p:first-child {
	margin-bottom: 5px;
	font-weight: 600;
	text-transform: uppercase;
}
.trustee-box .trustee-title p:last-child {
	color: #ccc;
	margin-top: 0px;
	margin-bottom: 30px;
}

.about-principal {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	margin-top: 40px;
	margin-bottom: 50px;
	line-height: 1.8em;
}
.about-principal p {
	margin-bottom: 30px;
}
.vision, .mission {
	padding-bottom: 30px;
	margin-bottom: 40px;
	position: relative;
}
.vision i, .mission i {
	font-size: 60px;
	color: rgba(0,0,0,0.4);
}
.mission-logo, .vision-logo {
	margin-bottom: 20px;
} 
.vision:after {
	content: "";
	width: 30%;
	height: 1px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.rules span {
	color: #C80C17;
}
.rules .nav-tabs>li {
	margin-bottom: 5px;
	float: none;
	display: inline-block;
}
.rules .nav-tabs {
	border-color: transparent;
}
.rules .nav-tabs>li>a {
    border: 1px solid #C80C17;
    border-radius: 50px;
	color: #C80C17;
}
.rules .nav-tabs>li.active>a, .rules .nav-tabs>li.active:hover >a, .rules .nav-tabs>li.active >a:hover {
background-color: #C80C17;
	color: #fff;
	border: 1px solid #C80C17;
	border-bottom: 1px solid #C80C17;
}
#process-target {
	margin-bottom: 40px;
}