#about {
	    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
	line-height: 2;
}

h3 + .table-responsive {
	margin-top: 50px;
}
#guest , #profile, #activity, #confrence{
	padding-bottom: 50px;
/*	border-bottom: 1px solid #ccc;*/
	margin-bottom: 50px;
}
#aniimated-thumbnials {
	text-align: center;
}
#aniimated-thumbnials img {
    height: 200px;
	display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media(min-width: 768px) {
	#about {
	    padding-top: 70px;
    padding-bottom: 100px;
	}
}