/* This File is for Home */
body {
	background-color: #fff;
}
.courses,
.upcoming-events,
.social {
/*background: rgba(255, 255, 255, 0.8);*/
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 40px;
}

.courses p {
	text-align: center;
}

.courses i {
	color: #d41d1e;
	font-size: 30px;
}

.courses h5 {
	margin-top: 0px;
}

.courses h5 {
	margin-top: 0px;
}

.courses-list > div {
	padding-top: 20px;
	padding-bottom: 20px;
}


.about-widget {
	line-height: 22px;
	max-width: 900px;
	background-color: rgba(255, 255, 255, 0.91);
	padding: 20px 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

.about-widget h1 {
	margin-bottom: 50px;
}

.slickcarosel .bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}

.slick-arrow {
	display: none !important;
}


/* upcoming events */

.upcoming-events .row .bg-upcoming {
	background-image: url(../img/THEORY.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.upcoming-events .overlay-box {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 15px;
	color: #fff;
}

.upcoming-events .overlay-box {
	font-size: 14px;
}

.upcoming-events h3 {
	margin-bottom: 50px;
}


/* Social */

.social h3 {
	margin-bottom: 50px;
}

.social .so-link i {
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	vertical-align: middle;
	font-size: 28px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 15px;
	margin-bottom: 15px;
	color: rgba(0, 0, 0, 0.5);
}

.social a {
	color: rgba(0, 0, 0, 0.5);
}

.social .so-link i:hover,
.social a:hover,
.social .so-link i:visited,
.social a:visited,
.social .so-link i:focus,
.social a:focus {
	color: #d41d1e;
	border-color: #d41d1e !important;
	text-decoration: none;
}

.social h6 {
	margin-top: 0px;
	margin-bottom: 15px;
}


/*
.footer h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
*/



@media (max-width: 767px) {
	.slickcarosel .bg {
		height: 300px;
	}
}

@media (min-width: 768px) {
	
	.courses,
	.upcoming-events,
	.social {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.about {
	background-size: contain;
}
	.about-widget {
	line-height: 40px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
}

@media (min-width: 991px) {
	.about {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.courses p {
		text-align: left;
		max-width: 400px;
	}
	.courses h3 {
		text-align: left;
	}
	.courses h3:after {
		margin-left: 0px;
	}
}

