body {
	font-family: 'Open Sans', sans-serif;
}

.logo {
	border-bottom: 1px solid #ddd;
}

a {
	text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
	color: #C80C17;
}

.logo p span {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

.logo p {
	padding-top: 50px;
}

.logo p span:first-child {
	background-color: #1e8dd3;
}

.logo p span:last-child {
	background-color: #EE930F;
	margin-left: -5px;
}

.navbar-collapse i {
	margin-right: 8px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}

.navbar {
	background-color: #fff;
}

.navbar-nav > li > a {
	color: #333;
}

.navbar-nav > li:hover > a {
	color: #C80C17 !important;
}

.navbar-default {
	border: none !important;
}

h3 {
	text-align: center;
	position: relative;
}

h3:after {
	background-color: #d41d1e;
	display: block;
	height: 2px;
	max-width: 100px;
	margin: 8px auto;
	content: '';
}

.courses,
.upcoming-events,
.social {
background: rgb(255, 255, 255) transparent;
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 40px;
}

.courses p {
	text-align: center;
}

.courses i {
	color: #d41d1e;
	font-size: 30px;
}

.courses h5 {
	margin-top: 0px;
}

.courses h5 {
	margin-top: 0px;
}

.courses-list > div {
	padding-top: 20px;
	padding-bottom: 20px;
}

.about {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.about-widget {
	line-height: 40px;
	max-width: 900px;
	background-color: rgba(255, 255, 255, 0.91);
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

.about-widget h1 {
	margin-bottom: 50px;
}

.slickcarosel .bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}

.slick-arrow {
	display: none !important;
}


/* upcoming events */

.upcoming-events .row .bg-upcoming {
	background-image: url(../img/THEORY.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.upcoming-events .overlay-box {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 15px;
	color: #fff;
}

.upcoming-events .overlay-box {
	font-size: 14px;
}

.upcoming-events h3 {
	margin-bottom: 50px;
}


/* Social */

.social h3 {
	margin-bottom: 50px;
}

.social .so-link i {
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	vertical-align: middle;
	font-size: 28px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 15px;
	margin-bottom: 15px;
	color: rgba(0, 0, 0, 0.5);
}

.social a {
	color: rgba(0, 0, 0, 0.5);
}

.social .so-link i:hover,
.social a:hover,
.social .so-link i:visited,
.social a:visited,
.social .so-link i:focus,
.social a:focus {
	color: #d41d1e;
	border-color: #d41d1e !important;
	text-decoration: none;
}

.social h6 {
	margin-top: 0px;
	margin-bottom: 15px;
}


/* FOOTER */

.m-tb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer h3 {
	margin-top: 30px;
	margin-bottom: 50px;
}

.footer {
	background-color: #282d30;
	color: #767e80;
	font-size: 12px;
}

.footer ul {
	list-style-type: none;
	padding-left: 0px !important;
	font-size: 12px;
}

.footer ul li {
	padding: 10px 5px;
}

.footer span {
	color: #fff !important;
	margin-right: 8px;
}

.footer ul li a {
	color: #767e80 !important;
}

.footer .social img {
	display: inline-block;
}

.footer .newsletter {
	font-size: 16px !important
}

.footer .form-group label {
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 30px;
}

.footer .form-control {
	height: 35px;
	background-color: #313537;
	font-size: 12px;
	border-color: transparent !important;
}


/*
.footer h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
*/

.address p.uppercase {
	font-size: 14px;
	font-weight: 600;
}

@media (max-width: 767px) {
	.slickcarosel .bg {
		height: 300px;
	}
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.courses,
	.upcoming-events,
	.social {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

@media (min-width: 991px) {
	.about {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.courses p {
		text-align: left;
		max-width: 400px;
	}
	.courses h3 {
		text-align: left;
	}
	.courses h3:after {
		margin-left: 0px;
	}
}

@media (max-width: 992px) {
	.logo {
		text-align: center;
	}
	.logo img {
		display: inline-block;
	}
	.logo p {
		text-align: center !important;
		padding-bottom: 30px
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}
}